<app-toolbar [defaultHref]="backHref" title="{{ selectedDayString | date : 'mediumDate' | titlecase }}"></app-toolbar>
<ion-content>
  <app-segment-days (daysInitEventEmitter)="initUI($event)" (selectedDayChangedEmitter)="selectedDayChanged($event)"></app-segment-days>

  <div *ngFor="let foodsForDay of foodDays">
    <span *ngIf="foodsForDay.day?.toJSON() === selectedDayString">
      <app-card-meal-list title="Desayuno" [foods]="foodsForDay.breakfasts" iconSrc="assets/icon/breakfast.png"></app-card-meal-list>
      <app-card-meal-list title="Almuerzo" [foods]="foodsForDay.lunches" iconSrc="assets/icon/lunch.png"></app-card-meal-list>
      <app-card-meal-list title="Merienda" [foods]="foodsForDay.snacks" iconSrc="assets/icon/dinner.png"></app-card-meal-list>
      <app-card-meal-list title="Cena" [foods]="foodsForDay.dinners" iconSrc="assets/icon/dinner.png"></app-card-meal-list>
    </span>
  </div>
</ion-content>
