<app-toolbar [defaultHref]="backHref"></app-toolbar>

<ion-content *ngIf="exercise">
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title class="card-header-title"> {{ exercise.title }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="secondary" lines="none">
        <ion-label class="ion-text-wrap">
          <p><b>Descripción:</b> {{ exercise.description }}</p>
          <br />
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <app-youtube-player *ngFor="let video of exercise.videos" [url]="video"></app-youtube-player>
  <app-pdf-viewer [attachmentId]="exercise.attachment"></app-pdf-viewer>
  <app-web-article *ngFor="let url of exercise.links" [url]="url"></app-web-article>
</ion-content>
