ion-item {
  --margin-bottom: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --inner-padding-bottom: 0px;
}

ion-label {
  --margin-bottom: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --inner-padding-bottom: 0px;
}
